body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
    margin: 0;
    background-image: url('./clouds.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: rgba(255, 255, 255, 0.726);
    padding: 20px 0;
}

h1 {
    color: rgb(61, 59, 59);
    margin: 0;
}

label {
    display: block;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 8px;
}

.entry-holder {
    text-align: left;
    width: 185px;
    height: 116px;
    background-color: rgba(255, 255, 255, 0.526);
    padding-top: 14px;
    margin: 20px auto;
}

.date, .temperature, .city, .feels-like {
    padding-left: 20px;
    margin: 6px 0;
}

.input-and-button {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

input {
    display: block;
    border-radius: 10px;
    height: 60px;
    width: 12em;
    background: #a5bcecb2;
    color: #070e6e;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    margin: 16px 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button {
    height: 40px;
    width: 120px;
    margin: auto 10px;
    background: #a5bcecb2;
    color: #070e6e;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    cursor: pointer;
}

button:hover {
    box-shadow: 2px 4px 5px rgb(79, 171, 233);
}

textarea {
    background:#86b0e0;
    color: #070e6e;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    width: 320px;
}
/* Reset style for input element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #070e6e83;
    font-family: 'Oswald', sans-serif;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #070e6e;
    font-family: 'Oswald', sans-serif;
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #070e6e;
    font-family: 'Oswald', sans-serif;
}